.hero-full {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000; /* Fondo negro por si el video tarda en cargar */
}

.video-background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Al fondo */
}

.video-bg-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Forzamos un tamaño mayor para cubrir bordes y asegurar visibilidad */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1.3); /* El scale(1.3) ayuda a cubrir todo el contenedor */
  pointer-events: none;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; /* Por encima del video */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: white;
  text-align: center;
  z-index: 2;
  h1{
      font-family: var(--font-secondary);
  }
}